{% extends "app_entregafinal/plantilla_base.html" %}

{% block style_block %}

{% load static %}


<!-- Page content-->
<div class="container-fluid">
    <h1 class="mt-4">Nosotros</h1>
    
    <p>Para comenzar a contarles sobre nosotros primero me gustaria poder agradecer a todo el equipo de Coder,<br>
        especialmente a el profesor Pedro Rojas por aportar y transmitir su conocimiento a todos los estudiantes,<br>
        y tambien felicitar al tutor Anderson por brindar apoyo con las dudas del equipo.<br>
        <br>
        Comenzando ahora si con la presentacion. Somos hermanos prodecentes de la ciudad de Paysandu - Uruguay,<br>
        departamento al norte del interior del pais, nuestro gusto por la tecnologia siempre estuvo presente inderecta<br>
        o directamente en nuestra vida cotidiana, somos amantes de los videojuegos y estamos al tanto de sucesos importantes<br>
        dentro del area de la tecnologia. Esto nos lleva a debatir sobre temas importantes y tratar de informarnos lo mayor posible.<br>
        <br>
        Nuestro camino hacia la programacion comienza con este curso. Fue algo que nos llamo la atencion.<br>
        Siempre nos intereso aprender y enteder como funciona la programacion. Nos vamos de este curso sabiendo aplicar<br>
        estos conocimientos adquiridos en algun momento ya sea en un trabajo o para simplemente resolver un problema.<br>
        A pesar de estudiar otras carreras como Comunicacion y Arquitectura sabemos que este camino va a ser muy util al<br>
        poder fusionar conocimientos y lograr cumplir con el objetivo de hacer lo que nos gusta. Sabemos que falta mucho <br>
        por aprender en cuanto a conocimiento, pero continuaremos por esta rama por la que nos lleva la tecnologia.<br>
        <br>
        Tienda Multimedia es un espacio en el cual el usuario podrá compartir y visualizar contenido de diferentes tipos e intercambiarlos con otros.<br>
        La web dispone de tres secciones donde se muestran peliculas, discos de musica y videojuegos respectivamente a todos los visitantes, sean registrados o no.<br>
        Además cuenta con una pestaña donde el usuario registrado podrá revisar sus publicaciones, editarlas y eliminarlas.<br>
        En el catálogo se podrá ver la portada y el nombre de la publicación ademas de una breve descripcion, para mas información deberá darle click al boton "ver".<br></p>
        
        <img src ="{% static 'nosotros.jpeg' %}" width="50%" height="50%"><br>

        Juan Acevedo, Federico Acevedo.
</div>
        


{% endblock style_block %}