{% extends "app_entregafinal/plantilla_base.html" %}

{% block style_block %}


<!-- Page content-->
<div class="container-fluid">
    <h1 class="mt-4">Discos</h1>
    <p>Aquí encontraras todos los discos registrados en nuestro catálogo</p>
</div>

        
<div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for disco in discos %}
        <div class="col">
          <div height="100%" width="100%" class="card shadow-sm">
            <div class="container-image">
              <div class="img-fluid">
              {% if disco.portada %}
              <img src ="{{disco.portada.url}}" width="100%">
              {% else %}
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              {% endif %}
              </div>
            </div>
            <div class="card-body">
              <b>{{disco.nombre}}</b>
              <p class="card-text">{{disco.descripcion}}.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'detalle-disco' disco.id %}">Ver</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>    
</div>
{% endblock style_block %}