{% extends "app_entregafinal/plantilla_base.html" %}

{% block style_block %}
        
<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6">
                <h1 class="mt-5">MUSICA</h1>
                
                <a href="{% url 'crear-musica' %}">Nuevo disco</a>
                <br><br><br>

                {% for disco in discos %}
                <p><b>Nombre:</b> {{ disco.nombre }}</p>
                <p><b>Artista:</b> {{ disco.artista }}</p>
                <p><b>Género:</b> {{ disco.genero }}</p>
                <p><b>Fecha de lanzamiento:</b> {{ disco.lanzamiento }} </p>
                <p><b>Discográfica:</b> {{ disco.discografica }}</p>
                <br><br><br>
                {% endfor %}
            </div>
        </div>
    </div>

</section>


{% endblock style_block %}