{% extends "app_entregafinal/plantilla_base.html" %}

{% block style_block %}

<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6">
                <h1 class="mt-5">INICIO</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente repellat esse, doloremque quod recusandae deleniti nostrum assumenda vel beatae sed aut modi nesciunt porro quisquam voluptatem.</p>
                <br><br>
            </div>
        </div>
    </div>
</section>
        


{% endblock style_block %}