{% extends "app_entregafinal/plantilla_base.html" %}

{% block style_block %}
  

<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6">
                <h1 class="mt-5">PELICULAS</h1>
                {% for pelicula in peliculas %}
                <p><b>Nombre:</b> {{ pelicula.nombre }}</p>
                <p><b>Género:</b> {{ pelicula.genero }}</p>
                <p><b>Fecha de estreno:</b> {{  pelicula.estreno  }} </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente repellat esse</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
        

{% endblock style_block %}