{% extends "app_entregafinal/plantilla_base.html" %}

{% block style_block %}


<!-- Page content-->
<div class="container-fluid">
    <h1 class="mt-4">Mis publicaciones</h1>
    <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
    <p>
        Make sure to keep all page content within the
        <code>#page-content-wrapper</code>
        . The top navbar is optional, and just for demonstration. Just create an element with the
        <code>#sidebarToggle</code>
        ID which will toggle the menu when clicked.
    </p>
</div>

<!-- Falta agregar que diga "borrado con exito"
{% if borrado %}
<div class="eliminado">Pelicula borrada exitosamente</div>
{% endif %}
-->
        
<div class="album py-5">
    <div class="container">
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'nueva-pelicula' %}">Nueva pelicula</a>
    
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for pelicula in peliculas %}
        <div class="col">
          <div height="100%" width="100%" class="card shadow-sm">
            <div class="container-image">
              <div class="img-fluid">
                {% if pelicula.portada %}
              <img src ="{{pelicula.portada.url}}" width="100%">
              {% else %}
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              {% endif %}
              </div>
            </div>
            <div class="card-body">
              <b>Nombre:</b> {{pelicula.nombre}}
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'editar-pelicula' pelicula.id %}">Editar</a>
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'eliminar-pelicula' pelicula.id %}">Eliminar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>    
</div>
{% endblock style_block %}