{% extends "app_entregafinal/plantilla_base.html" %}

{% block style_block %}

<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6">
                <h1 class="mt-5">{{pelicula.nombre}}</h1><br>
                {% if pelicula.portada %}
                <img src ="{{pelicula.portada.url}}" class="img-fluid"><br>
                {% endif %}
                <br>
                <b>Género:</b> {{pelicula.genero}}<br>
                <b>Fecha de estreno:</b> {{pelicula.estreno}}<br>
                <b>Director:</b> {{pelicula.director}}<br>
                <b>Descripcion:</b> {{pelicula.descripcion}}<br>
                <b>Publicada por:</b> {{pelicula.usuarioid}}<br>
            </div>
        </div>
    </div>
</section>

{% endblock style_block %}