{% extends "app_entregafinal/plantilla_base.html" %}

{% block style_block %}

<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-6">
                <h1 class="mt-5">{{videojuego.nombre}}</h1><br>
                {% if videojuego.portada %}
                <img src ="{{videojuego.portada.url}}" class="img-fluid"><br>
                {% endif %}
                <br>
                <b>Género:</b> {{videojuego.genero}}<br>
                <b>compañia:</b> {{videojuego.compañia}}<br>
                <b>Fecha de lanzamiento:</b> {{videojuego.lanzamiento}}<br>
                <b>Descripcion:</b> {{videojuego.descripcion}}<br>
                <b>Publicada por:</b> {{videojuego.usuarioid}}<br>
            </div>
        </div>
    </div>
</section>

{% endblock style_block %}